  body {
    margin: 0;
    padding: 0;
    background-color: #EFD6AC;
    font-family: 'Mynerve', cursive;
    font-size: 20px;
  }
  
  .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #121619;
  }

  .active {
    background-color: #09814A;
  }

  .logo {
    float: left;
    padding: 0px;
  }

  h1 {
    font-family: 'Mynerve', cursive;
    font-size: 32px;
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
}